*{
    font-family: 'Poppins', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: #eee;
}
.content {
    min-height: 100vh;
    height: 100%;
    width: 100%;
}
#side_nav {
    background: #000;
    min-width: 300px;
    max-width: 300px;
    transition: all 0,2s;
    position: fixed;
    height: 100%;
}
hr.h-color {
    background: #eee;
}
.scroll {
    height: 450px;
    overflow: scroll;
}

.sidebar li.active {
    background: #eee;
    border-radius: 8px;;
}

.sidebar li.active a, .sidebar li.active a:hover {
    color: #000;
}

.sidebar li a {
    color: #fff;
}

.dashboard-content {
    margin-left: 300px;
}

@media(max-width: 767px) {
    #side_nav {
        margin-left: -300px;
        position: fixed;
        min-height: 100vh;
        z-index: 1;
    }
    #side_nav.active {
        margin-left: 0;
        margin-top: 0;
    }
    .dashboard-content {
        margin-left: 0px;
    }
    .form-control {
        width: 300px;
        margin-top: 0px;
    }
    .container .col-sm-6 {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
